/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "bootstrap_custom";
@import "_fonts.scss";

body, html {
  background-color: $bg-color;
  font-family: 'Poppins';
}

.flex-box {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 10px;
    h2 {
      user-select: none;
      transform: rotate(15deg);
    }
    }
  }
p{
  color:#fff;
}